.flexbox {
  height: 90%;
  width: 230px;
  background-color: white;
  color: #3f000f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
}
.container {
  display: flex;
  border: 1px solid;
  position: relative;
  width: 430px;
  height: 100%;
  margin: 5px;
  padding: 50px;
  background-color: #3f000f;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: #f48c06;
  border: 5px solid #f48c06;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-basis: 180px;
  position: relative;
}

.box {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.secondcard {
  background-color: #f48c06;
  border: 5px solid #f48c06;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 180px;
  position: relative;
}

.secondbox {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 50px;
  margin: 3px;
}

.row-first {
  display: flex;
}

.thirdcard {
  background-color: #f48c06;
  border: 5px solid #f48c06;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 180px;
  position: relative;
}

.thirdbox {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.forthcard {
  background-color: #f48c06;
  border: 5px solid #f48c06;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 180px;
  position: relative;
}
.forthboxA {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 30px;
  margin: 3px;
}
.forthboxB {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 30px;
  margin: 3px;
}
.forthboxC {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 30px;
  margin: 3px;
  align-self: self-end;
}

.row-second {
  display: flex;
}
.fifthcard {
  background-color: #f48c06;
  border: 5px solid #f48c06;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 180px;
  position: relative;
}

.fifthboxA {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 60px;
  margin: 3px;
}
.fifthboxB {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 30px;
  margin: 3px;
}
.fifthboxC {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 60px;
  margin: 3px;
}

.sixthcard {
  background-color: #f48c06;
  border: 5px solid #f48c06;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 180px;
  position: relative;
}

.sixthboxA {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 30px;
  margin: 1px;
}
.sixthboxB {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 75px;
  height: 30px;
  margin: 1px;
}
.sixthboxC {
  background-color: #9d0208;
  border: 2px solid #9d0208;
  width: 30px;
  height: 30px;
  margin: 1px;
}
.row-third {
  display: flex;
}
